# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
*.iml

# IDE
.idea/
.vscode/

# Platform build artifacts
ios/Pods/
ios/.symlinks/
android/.gradle/
android/local.properties
*.log
